<link rel="stylesheet" href="~/css/style.css"/>


<button id="btn_eNFAtoNFA" class="btn btn-info" type="button">eNFA -> NFA</button>
<button id="btn_NFAtoDFA" class="btn btn-danger" type="button">NFA -> DFA</button>


<script type="module" src="~/js/convert.js"></script>

