<link rel="stylesheet" href="~/css/homepage.css"/>


<table>
	<thead>
		<tr id="tr_newAlphabet">	
			<th colspan="100%">
				<img id="img_newAlphabet" class="icon_plus" src="/images/plus.png" title="New Alphabet" alt="New Alphabet"/>
				<span>New Alphabet</span>
				<span>0</span>
			</th>
			
		</tr>
		<tr></tr>
	</thead>

	<tbody></tbody>

	<tfoot>
		<tr id="tr_newState">
			<th colspan="100%">
				<img id="img_newState" class="icon_plus" src="/images/plus.png" title="New State" alt="New State"/>
				<span>New State</span>
				<span>0</span>
			</th>
		</tr>
	</tfoot>
</table>


<script type="module" src="/js/homepage.js"></script>