<link rel="stylesheet" href="~/css/tableRepresentation.css"/>


<div>
	<h1 class="pageTitle">Table Representation</h1>

	<table>
		<thead>
			<tr>
				<td></td>  @*it will be blank*@
			</tr>
		</thead>

		<tbody></tbody>
	</table>
</div>


<script type="module" src="~/js/tableRepresentation.js"></script>