/*plus icons*/
.icon_plus {
    width: 50px;
    height: 50px;
}

    .icon_plus:hover {
        cursor: pointer;
    }


/*all colunms and rows except new alphabet and state columns*/
thead tr:last-child input,
tbody tr input,
#tr_saveButton,
tfoot tr:last-child {
    text-align: center
}


/*save button*/
#btn_save {
    background-color: blue;
}

    #btn_save:active,
    #btn_save:focus,
    #btn_save:hover {
        background-color: green;
    }


/* columns and first column of rows */
thead tr:last-child td{
    background-color: grey
}

tbody tr td:first-child {
    background-color: grey
}